<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Users</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class="col-lg-8" ng-controller="TestCtrl">
        <adminr-panel>
            <panel-heading>this is table test</panel-heading>
            <panel-body>
                <div class="row form-inline">
                    <div class="col-md-6">
                        <div class="dataTables_length">
                            <label>
                                Show
                                <select ng-model="users.range.limit" ng-options="i for i in [5,10,20,50]" class="form-control input-sm"></select>
                                entries
                            </label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="text-right">
                            <label>
                                Search:
                                <input ng-model="users.params.q" type="text" />
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table adminr-table>
                            <tbody body-resource="users" body-resource-path="data" body-generate-header="aa">
                            <tr>
                                <td header="#" sort-column="id">#{{row.id}}</td>
                                <td header="Name" sort-column="username">{{row.username}}</td>
                                <td class="schrink">
                                    <a class="btn btn-primary" ui-sref="userDetail({id:row.id})">detail</a>
                                    <a class="btn btn-danger" ng-click="users.deleteItem(row)">X</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <adminr-pagination class="pagination-xl" adminr-resource="users"></adminr-pagination>
                        <!--<uib-pagination  max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false"></uib-pagination>-->
                    </div>
                </div>
            </panel-body>
        </adminr-panel>
        <!--<div ng-repeat="row in appsResource">{{row}}</div>-->
        {{users.params}}{{users.range}}
    </div>
</div>
